LOCATE COMP "CLK_50MHZ" SITE "F2";
IOBUF PORT "CLK_50MHZ" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK_50MHZ" 50 MHZ;

## Push Button
LOCATE COMP "PSH1" SITE "B8";
IOBUF PORT "PSH1" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "PSH2" SITE "C8";
IOBUF PORT "PSH2" PULLMODE=UP IO_TYPE=LVCMOS33;

## Switch
LOCATE COMP "SW1_1" SITE "B5";
IOBUF PORT "SW1_1" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "SW1_2" SITE "D5";
IOBUF PORT "SW1_2" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "SW1_3" SITE "C5";
IOBUF PORT "SW1_3" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "SW1_4" SITE "B4";
IOBUF PORT "SW1_4" PULLMODE=UP IO_TYPE=LVCMOS33;

## Serial - FTDI
LOCATE COMP "FTDI1_A0" SITE "E4"; # JTAG_TCK - TXD
IOBUF PORT "FTDI1_A0" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "FTDI1_A1" SITE "E3"; # JTAG_TDI - RXD
IOBUF PORT "FTDI1_A1" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "FTDI1_A2" SITE "F4"; # JTAG_TDO
IOBUF PORT "FTDI1_A2" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "FTDI1_A3" SITE "F3"; # JTAG_TMS
IOBUF PORT "FTDI1_A3" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "FTDI1_A4" SITE "G5";
IOBUF PORT "FTDI1_A4" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "FTDI1_A5" SITE "G3";
IOBUF PORT "FTDI1_A5" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "FTDI1_A6" SITE "H4";
IOBUF PORT "FTDI1_A6" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "FTDI1_A7" SITE "H3";
IOBUF PORT "FTDI1_A7" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## LEDs
LOCATE COMP "D1" SITE "A6"; # Green
IOBUF PORT "D1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "D2" SITE "A7"; # Green
IOBUF PORT "D2" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "D3" SITE "A8"; # Green
IOBUF PORT "D3" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "D4" SITE "B9"; # Green
IOBUF PORT "D4" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "D5" SITE "A10"; # Green
IOBUF PORT "D5" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "D6" SITE "C10"; # Green
IOBUF PORT "D6" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "D7" SITE "A11"; # Green
IOBUF PORT "D7" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "D8" SITE "B11"; # Green
IOBUF PORT "D8" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

## Bridge
#LOCATE COMP "BRIDGE_ADDR0" SITE "C15";
#IOBUF PORT "BRIDGE_ADDR0" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_ADDR1" SITE "D14";
#IOBUF PORT "BRIDGE_ADDR1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_ADDR2" SITE "C13";
#IOBUF PORT "BRIDGE_ADDR2" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_ADDR3" SITE "C12";
#IOBUF PORT "BRIDGE_ADDR3" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_RD" SITE "D16";
#IOBUF PORT "BRIDGE_RD" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_WR" SITE "C16";
#IOBUF PORT "BRIDGE_WR" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_RST" SITE "D15";
#IOBUF PORT "BRIDGE_RST" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_INT" SITE "C17";
#IOBUF PORT "BRIDGE_INT" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_DATA0" SITE "B16";
#IOBUF PORT "BRIDGE_DATA0" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_DATA1" SITE "A17";
#IOBUF PORT "BRIDGE_DATA1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_DATA2" SITE "B17";
#IOBUF PORT "BRIDGE_DATA2" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_DATA3" SITE "A18";
#IOBUF PORT "BRIDGE_DATA3" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_DATA4" SITE "B18";
#IOBUF PORT "BRIDGE_DATA4" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_DATA5" SITE "A19";
#IOBUF PORT "BRIDGE_DATA5" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_DATA6" SITE "B19";
#IOBUF PORT "BRIDGE_DATA6" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_DATA7" SITE "B20";
#IOBUF PORT "BRIDGE_DATA7" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

## PMOD1
LOCATE COMP "PMOD1_1" SITE "B10";
IOBUF PORT "PMOD1_1" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD1_2" SITE "B12";
IOBUF PORT "PMOD1_2" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD1_3" SITE "A13";
IOBUF PORT "PMOD1_3" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD1_4" SITE "A14";
IOBUF PORT "PMOD1_4" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD1_7" SITE "A9";
IOBUF PORT "PMOD1_7" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD1_8" SITE "A12";
IOBUF PORT "PMOD1_8" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD1_9" SITE "B13";
IOBUF PORT "PMOD1_9" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD1_10" SITE "A15";
IOBUF PORT "PMOD1_10" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## PMOD2
LOCATE COMP "PMOD2_1" SITE "E10";
IOBUF PORT "PMOD2_1" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD2_2" SITE "D10";
IOBUF PORT "PMOD2_2" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD2_3" SITE "D9";
IOBUF PORT "PMOD2_3" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD2_4" SITE "B15";
IOBUF PORT "PMOD2_4" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD2_7" SITE "C11";
IOBUF PORT "PMOD2_7" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD2_8" SITE "E9";
IOBUF PORT "PMOD2_8" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD2_9" SITE "C9";
IOBUF PORT "PMOD2_9" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD2_10" SITE "A16";
IOBUF PORT "PMOD2_10" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## PMOD3
LOCATE COMP "PMOD3_1" SITE "L1";
IOBUF PORT "PMOD3_1" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD3_2" SITE "N1";
IOBUF PORT "PMOD3_2" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD3_3" SITE "L2";
IOBUF PORT "PMOD3_3" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD3_4" SITE "H2";
IOBUF PORT "PMOD3_4" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD3_7" SITE "K1";
IOBUF PORT "PMOD3_7" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD3_8" SITE "M1";
IOBUF PORT "PMOD3_8" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD3_9" SITE "K2";
IOBUF PORT "PMOD3_9" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD3_10" SITE "G2";
IOBUF PORT "PMOD3_10" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## PMOD4
LOCATE COMP "PMOD4_1" SITE "P2";
IOBUF PORT "PMOD4_1" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD4_2" SITE "P3";
IOBUF PORT "PMOD4_2" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD4_3" SITE "N3";
IOBUF PORT "PMOD4_3" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD4_4" SITE "H1";
IOBUF PORT "PMOD4_4" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD4_7" SITE "N2";
IOBUF PORT "PMOD4_7" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD4_8" SITE "P1";
IOBUF PORT "PMOD4_8" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD4_9" SITE "G1";
IOBUF PORT "PMOD4_9" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD4_10" SITE "J1";
IOBUF PORT "PMOD4_10" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## GPIO
LOCATE COMP "GPIO_0" SITE "D13";
IOBUF PORT "GPIO_0" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_1" SITE "D12";
IOBUF PORT "GPIO_1" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_2" SITE "D11";
IOBUF PORT "GPIO_2" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_3" SITE "E11";
IOBUF PORT "GPIO_3" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_4" SITE "E13";
IOBUF PORT "GPIO_4" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_5" SITE "E12";
IOBUF PORT "GPIO_5" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_6" SITE "E14";
IOBUF PORT "GPIO_6" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_7" SITE "C14";
IOBUF PORT "GPIO_7" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_8" SITE "E15";
IOBUF PORT "GPIO_8" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_9" SITE "D17";
IOBUF PORT "GPIO_9" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_ADDR0" SITE "C18";
IOBUF PORT "BRIDGE_ADDR0" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_ADDR1" SITE "E16";
IOBUF PORT "BRIDGE_ADDR1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_ADDR2" SITE "G16";
IOBUF PORT "BRIDGE_ADDR2" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_ADDR3" SITE "H17";
IOBUF PORT "BRIDGE_ADDR3" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_DATA0" SITE "D19";
IOBUF PORT "BRIDGE_DATA0" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_DATA1" SITE "E17";
IOBUF PORT "BRIDGE_DATA1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_DATA2" SITE "F16";
IOBUF PORT "BRIDGE_DATA2" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_DATA3" SITE "K20";
IOBUF PORT "BRIDGE_DATA3" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_RD" SITE "K19";
IOBUF PORT "BRIDGE_RD" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_DATA4" SITE "J20";
IOBUF PORT "BRIDGE_DATA4" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_WR" SITE "J17";
IOBUF PORT "BRIDGE_WR" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_DATA5" SITE "J19";
IOBUF PORT "BRIDGE_DATA5" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_RST" SITE "J16";
IOBUF PORT "BRIDGE_RST" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_DATA6" SITE "H16";
IOBUF PORT "BRIDGE_DATA6" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_INT" SITE "L16";
IOBUF PORT "BRIDGE_INT" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_DATA7" SITE "N16";
IOBUF PORT "BRIDGE_DATA7" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_26" SITE "P16";
IOBUF PORT "GPIO_26" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_27" SITE "R16";
IOBUF PORT "GPIO_27" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_28" SITE "T17";
IOBUF PORT "GPIO_28" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_29" SITE "T18";
IOBUF PORT "GPIO_29" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_30" SITE "U17";
IOBUF PORT "GPIO_30" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_31" SITE "U18";
IOBUF PORT "GPIO_31" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_32" SITE "R17";
IOBUF PORT "GPIO_32" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_33" SITE "T16";
IOBUF PORT "GPIO_33" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_34" SITE "U19";
IOBUF PORT "GPIO_34" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_35" SITE "U16";
IOBUF PORT "GPIO_35" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

