LOCATE COMP "CLK_50MHZ" SITE "J1";
IOBUF PORT "CLK_50MHZ" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK_50MHZ" 50 MHZ;

## Push Button
LOCATE COMP "PSH1" SITE "E3";
IOBUF PORT "PSH1" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "PSH2" SITE "C3";
IOBUF PORT "PSH2" PULLMODE=UP IO_TYPE=LVCMOS33;

## Switch
LOCATE COMP "SW1_1" SITE "J3";
IOBUF PORT "SW1_1" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "SW1_2" SITE "H3";
IOBUF PORT "SW1_2" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "SW1_3" SITE "H4";
IOBUF PORT "SW1_3" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "SW1_4" SITE "G3";
IOBUF PORT "SW1_4" PULLMODE=UP IO_TYPE=LVCMOS33;

## LEDs
LOCATE COMP "LED1" SITE "J4";
IOBUF PORT "LED1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "LED2" SITE "K2";
IOBUF PORT "LED2" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "LED3" SITE "J2";
IOBUF PORT "LED3" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "LED4" SITE "K1";
IOBUF PORT "LED4" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "LED5" SITE "G1";
IOBUF PORT "LED5" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "LED6" SITE "G2";
IOBUF PORT "LED6" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "LED7" SITE "F1";
IOBUF PORT "LED7" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "LED8" SITE "F2";
IOBUF PORT "LED8" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

## Internal Bridge 
#LOCATE COMP "BRIDGE_ADDR0_IP" SITE "B8";
#IOBUF PORT "BRIDGE_ADDR0_IP" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_ADDR1_IP" SITE "A8";
#IOBUF PORT "BRIDGE_ADDR1_IP" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_ADDR2_IP" SITE "B9";
#IOBUF PORT "BRIDGE_ADDR2_IP" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_ADDR3_IP" SITE "A10";
#IOBUF PORT "BRIDGE_ADDR3_IP" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_RD_IP" SITE "A6";
#IOBUF PORT "BRIDGE_RD_IP" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_WR_IP" SITE "B7";
#IOBUF PORT "BRIDGE_WR_IP" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_RST_IP" SITE "A7";
#IOBUF PORT "BRIDGE_RST_IP" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_INT_IP" SITE "A9";
#IOBUF PORT "BRIDGE_INT_IP" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_DATA0_IP" SITE "C9";
#IOBUF PORT "BRIDGE_DATA0_IP" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_DATA1_IP" SITE "C10";
#IOBUF PORT "BRIDGE_DATA1_IP" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_DATA2_IP" SITE "D9";
#IOBUF PORT "BRIDGE_DATA2_IP" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_DATA3_IP" SITE "D8";
#IOBUF PORT "BRIDGE_DATA3_IP" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_DATA4_IP" SITE "C8";
#IOBUF PORT "BRIDGE_DATA4_IP" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_DATA5_IP" SITE "C7";
#IOBUF PORT "BRIDGE_DATA5_IP" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_DATA6_IP" SITE "D7";
#IOBUF PORT "BRIDGE_DATA6_IP" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "BRIDGE_DATA7_IP" SITE "C6";
#IOBUF PORT "BRIDGE_DATA7_IP" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

## PMOD1
LOCATE COMP "PMOD1_1" SITE "B3";
IOBUF PORT "PMOD1_1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD1_2" SITE "B4";
IOBUF PORT "PMOD1_2" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD1_3" SITE "A4";
IOBUF PORT "PMOD1_3" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD1_4" SITE "A5";
IOBUF PORT "PMOD1_4" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD1_7" SITE "A2";
IOBUF PORT "PMOD1_7" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD1_8" SITE "A3";
IOBUF PORT "PMOD1_8" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD1_9" SITE "B5";
IOBUF PORT "PMOD1_9" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD1_10" SITE "B6";
IOBUF PORT "PMOD1_10" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

## PMOD2
LOCATE COMP "PMOD2_1" SITE "G15";
IOBUF PORT "PMOD2_1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD2_2" SITE "H15";
IOBUF PORT "PMOD2_2" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD2_3" SITE "J16";
IOBUF PORT "PMOD2_3" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD2_4" SITE "K16";
IOBUF PORT "PMOD2_4" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD2_7" SITE "F16";
IOBUF PORT "PMOD2_7" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD2_8" SITE "G16";
IOBUF PORT "PMOD2_8" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD2_9" SITE "J15";
IOBUF PORT "PMOD2_9" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "PMOD2_10" SITE "K15";
IOBUF PORT "PMOD2_10" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;


## GPIO
LOCATE COMP "FTDI1_A0" SITE "B11"; # JTAG_TCK - TXD
IOBUF PORT "FTDI1_A0" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "FTDI1_A1" SITE "A12"; # JTAG_TDI - RXD
IOBUF PORT "FTDI1_A1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_2" SITE "B12";
IOBUF PORT "GPIO_2" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_3" SITE "A13";
IOBUF PORT "GPIO_3" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_4" SITE "A14";
IOBUF PORT "GPIO_4" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_5" SITE "B13";
IOBUF PORT "GPIO_5" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_6" SITE "A15";
IOBUF PORT "GPIO_6" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_7" SITE "B14";
IOBUF PORT "GPIO_7" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_8" SITE "B15";
IOBUF PORT "GPIO_8" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_9" SITE "F15";
IOBUF PORT "GPIO_9" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_ADDR0" SITE "E16";
IOBUF PORT "BRIDGE_ADDR0" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_DATA0" SITE "E15";
IOBUF PORT "BRIDGE_DATA0" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_ADDR1" SITE "C15";
IOBUF PORT "BRIDGE_ADDR1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_DATA1" SITE "D16";
IOBUF PORT "BRIDGE_DATA1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_ADDR2" SITE "C16";
IOBUF PORT "BRIDGE_ADDR2" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_DATA2" SITE "B16";
IOBUF PORT "BRIDGE_DATA2" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_ADDR3" SITE "D10";
IOBUF PORT "BRIDGE_ADDR3" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_DATA3" SITE "C11";
IOBUF PORT "BRIDGE_DATA3" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_RD" SITE "D11";
IOBUF PORT "BRIDGE_RD" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_DATA4" SITE "C12";
IOBUF PORT "BRIDGE_DATA4" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_WR" SITE "C13";
IOBUF PORT "BRIDGE_WR" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_DATA5" SITE "D12";
IOBUF PORT "BRIDGE_DATA5" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_RST" SITE "D13";
IOBUF PORT "BRIDGE_RST" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_DATA6" SITE "C14";
IOBUF PORT "BRIDGE_DATA6" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_INT" SITE "D14";
IOBUF PORT "BRIDGE_INT" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "BRIDGE_DATA7" SITE "E13";
IOBUF PORT "BRIDGE_DATA7" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_26" SITE "E14";
IOBUF PORT "GPIO_26" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_27" SITE "F13";
IOBUF PORT "GPIO_27" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_28" SITE "G13";
IOBUF PORT "GPIO_28" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_29" SITE "F14";
IOBUF PORT "GPIO_29" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_30" SITE "H13";
IOBUF PORT "GPIO_30" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_31" SITE "G14";
IOBUF PORT "GPIO_31" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_32" SITE "J14";
IOBUF PORT "GPIO_32" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_33" SITE "H14";
IOBUF PORT "GPIO_33" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_34" SITE "K14";
IOBUF PORT "GPIO_34" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GPIO_35" SITE "J13";
IOBUF PORT "GPIO_35" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
